data/fer2013.csv filter=lfs diff=lfs merge=lfs -text
svm_model.pkl filter=lfs diff=lfs merge=lfs -text
features/ok_test.npy filter=lfs diff=lfs merge=lfs -text
features/ok_val.npy filter=lfs diff=lfs merge=lfs -text
features/X_test_aligned.npy filter=lfs diff=lfs merge=lfs -text
features/X_test_hog.npy filter=lfs diff=lfs merge=lfs -text
features/X_test_landmark.npy filter=lfs diff=lfs merge=lfs -text
features/X_train_aligned.npy filter=lfs diff=lfs merge=lfs -text
features/X_train_landmark.npy filter=lfs diff=lfs merge=lfs -text
features/X_val_landmark.npy filter=lfs diff=lfs merge=lfs -text
features/ok_train.npy filter=lfs diff=lfs merge=lfs -text
features/X_train_hog.npy filter=lfs diff=lfs merge=lfs -text
features/X_val_aligned.npy filter=lfs diff=lfs merge=lfs -text
features/X_val_hog.npy filter=lfs diff=lfs merge=lfs -text
data/*.csv filter=lfs diff=lfs merge=lfs -text
features/*.npy filter=lfs diff=lfs merge=lfs -text
models/*.joblib filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
artifacts/hog_train_smote.npz filter=lfs diff=lfs merge=lfs -text
